$color-yellow: #FCB72B;
$color-dark-navy: #495567;
$color-dim-gray: #939CAA;
$color-light-gray: #E5ECF4;
$color-snow: #F2F7F9;
$color-white: #FFFFFF;
$color-light-yellow:#FFF4DF;

$breakpoint-mobile-max: 767px;
$breakpoint-tablet-min: 768px;
$breakpoint-tablet-max: 1023px;
$breakpoint-desktop-min: 1024px;

$h1:56px;
$h2:48px;
$h3:40px;
$h4:24px;

$ft-lt:15px;
$ft-sm:18px;
$ft-md:30px;
$ft-lg:35px;


$sp-xxl: 100px;
$sp-xl: 64px;
$sp-lg: 40px;
$sp-md: 20px;
$sp-sm: 12px;

$lh-h1:56px;
$lh-h2:48px;
$lh-h3:48px;
$lh-h4:28px;

$radius: 10px;
$bigger-radius: 15px;

$line-height: 1.3;
$font-weight-lg:700;
$font-weight-sm:400;

$container-width: 1200px;
$spacing: 20px;

$font-primary: 'Lexend Deca', sans-serif;
$font-secondary: 'Space Mono', monospace; 