@import url('variables.css');

.page{
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 font-family: var(--font-main);
 margin: 0;
 background: #fff;
 min-height: 100vh;
 overflow: hidden;
}
.page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 50%;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.05) 40%,
    transparent 80%
  );
  filter: blur(40px);
  z-index: 1;
}
.page::after{
  content:"";
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: 
  linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
  linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 24px 24px;
}
.phone-frame {
  width: 410px;
  height: 812px;
  background: linear-gradient(to bottom, var(--color-bg-top) 50%, var(--color-bg-bottom) 50%);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  position: relative;
}
canvas {
  pointer-events: none;
}
#dots {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}
.login{
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  box-sizing: border-box;
  padding-top: 40px;
}

.login__title{
  color: var(--color-text-title);
  font-size: var(--font-size-title);
  line-height: 1.3;
  margin-bottom: var(--space-s);
}
.login__subtitle{
  color:var(--color-text-title);
  font-size: var( --font-size-text);
  line-height: 1.3;
  margin-bottom: var(--space-xl);
}
.login__form-container{
  background:var(--color-bg-bottom);
  border-radius: var(--border-radius);
  padding: var(--space-l);
  box-shadow:0 8px 20px rgba(0, 0, 0, 0.15);
}
.btn{
  width: 100%;
  height: var(--button-height);
  border-radius: var(--border-radius);
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: var(--font-size-text);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-s);
}
.btn--google {
  background: var(--color-google-bg);
  border: 1px solid var(--color-google-border);
  color: var(--color-text-main);
  margin-bottom: var(--space-m);
}
.btn__icon{
  width:24px;
}
.login__divider{
  position:relative;
  margin: var(--space-m) 0
}
.login__divider::before,
.login__divider::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 32%;
  height: 1px;
  background: var(--color-border);
}

.login__divider::before {
  left: 0;
}
.login__divider::after {
  right: 0;
}
.login__divider-text {
  font-size: var(--font-size-small);
  color: var(--color-text-secondary);
  background: #fff;
  padding: 0 var(--space-xs);
}
.login__form {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.login__input-group {
  position: relative;
}

.login__input {
  width: 100%;
  height: var(--input-height);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  padding: 0 var(--space-m);
  font-size: var(--font-size-text);
  color: var(--color-text-main);
  box-sizing: border-box;
}

.auth__input::placeholder {
  color: var(--color-placeholder);
}
.login__input-group i {
  position: absolute;
  top: 50%;
  right: 12px; 
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--color-text-main);
  font-size: 1.2em;
  color:rgb(109, 108, 108);
}
.hide{
  display: none;
}

.login__options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-small);
  margin-top: -4px;
}

.login__remember {
  display: flex;
  align-items: center;
  gap: 6px;
}

.login__checkbox {
  width: 14px;
  height: 14px;
}

.login__forgot {
  color: var(--color-primary);
  text-decoration: none;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
  font-weight: 600;
  margin-top: var(--space-s);
  z-index: 2;
}

.btn--primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background: linear-gradient(160deg, #0a56e2, #7c8ff0);
}


.login__signup {
  margin-top: var(--space-m);
  font-size: var(--font-size-small);
  color: var(--color-text-secondary);
}

.login__signup-link {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
}
