@font-face {
  font-family: 'InterVar';
  src: local('Inter'), local('Inter var');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html,body {
  font-family: $font-sans;
  font-size: $base-font-size;
  color: $text;
  background: $white;
}
