@font-face {
  font-family: "InterVar";
  src: local("Inter"), local("Inter var");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
html, body {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  font-size: 16px;
  color: #0f1724;
  background: #ffffff;
}

.header-hero {
  height: 850px;
  position: relative;
  align-items: center;
}
.header-hero__bg {
  background-image: url("../coworling.avif");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header-hero__bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}
.header-hero .header, .header-hero .hero {
  position: relative;
  z-index: 2;
}

.header {
  padding: 12px 0;
  background: transparent;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
}
.header__nav {
  display: flex;
  gap: 18px;
  align-items: center;
}
.header__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}
.header__link:hover {
  color: #4828d9;
}

.button {
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}
.button--primary {
  background: #4828d9;
  color: #ffffff;
}
.button--ghost {
  background: transparent;
  border: 1px solid rgba(15, 17, 36, 0.06);
}

.hero {
  padding: 130px;
  color: #ffffff;
  text-align: center;
}
.hero__inner {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  min-width: 250px;
}
.hero__kicker {
  color: #50e3c2;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 12px;
  font-size: 13px;
}
.hero__title {
  font-size: 44px;
  line-height: 1.3;
  margin: 0 0 22px;
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
}
.hero__search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 18px;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 15px;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  margin: 18px auto 0 auto;
}
.hero .hero__field {
  display: flex;
  position: relative;
}
.hero__input {
  width: 100%;
  min-width: 180px;
  height: 45px;
  border-radius: 12px;
  border: none;
  outline: none;
  box-shadow: 0 2px 5px rgb(221, 221, 221);
  padding-left: 40px;
  padding-right: 30px;
  cursor: pointer;
}
.hero__input::-moz-placeholder {
  color: #161C2D;
  opacity: 1;
  font-size: 16px;
}
.hero__input::placeholder {
  color: #161C2D;
  opacity: 1;
  font-size: 16px;
}
.hero .icon-location {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.hero .icon-dropdown {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.hero .hero__field--date {
  display: flex;
  position: relative;
}
.hero__input {
  width: 100%;
  min-width: 220px;
  height: 45px;
  border-radius: 12px;
  border: none;
  outline: none;
  box-shadow: 0 2px 5px rgb(221, 221, 221);
  padding-left: 40px;
  padding-right: 30px;
}
.hero .icon-calendar {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.hero .icon-dropdown {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.hero__btn {
  padding: 14px 28px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.hero__btn.button--primary:hover {
  background-color: rgb(48, 15, 124);
}
.hero .icon-go-down {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 290px;
}
.hero__offer {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  gap: 40px;
  color: rgba(255, 255, 255, 0.75);
  gap: 12px;
}
.hero__offer .hero__offer-text {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}
.hero .icon-video {
  display: flex;
  align-items: center;
}

.stats {
  padding: 100px;
  background: #ffffff;
  color: #0f1724;
  display: flex;
  justify-content: space-around;
}
.stats__item {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.stats__item-num {
  font-weight: 700;
  font-size: 40px;
}
.stats__item-text {
  color: #6b7280;
  font-size: 16px;
  max-width: 180px;
  line-height: 1.3;
}

.locations {
  padding: 64px 0;
  background: #ffffff;
  display: flex;
  justify-content: center;
}
.locations__title {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  padding: 30px;
}
.locations__subtitle {
  text-align: center;
  color: #6b7280;
  margin-bottom: 40px;
}
.locations__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 20px;
}
.locations__card {
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
}

.card__img {
  display: block;
  width: 100%;
  max-width: 310px;
  height: 420px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__img-wrapper {
  overflow: visible;
  display: flex;
  justify-content: center;
}
.card__img--shadow {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}
.card__body {
  padding: 12px;
  text-align: center;
  margin-top: 30px;
}
.card__title {
  font-weight: 700;
  margin: 4px 0;
}
.card__meta {
  color: #6b7280;
  font-size: 13px;
}

.team {
  padding: 64px 0;
  position: relative;
}
.team::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: #ecf3f8;
  z-index: -1;
}
.team__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}
.team__text {
  flex: 1;
  max-width: 300px;
  padding-left: 110px;
}
.team__title {
  font-size: 26px;
  margin-bottom: 10px;
}
.team__desc {
  color: #6b7280;
}
.team__images {
  display: flex;
  gap: 46px;
  align-content: center;
  position: relative;
  padding-left: 70px;
}
.team__img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 420px;
  height: 460px;
  border-radius: 15px;
  position: relative;
  top: -120px;
  left: 40px;
  margin-top: 0;
}
.team__img--large {
  width: 420px;
  margin-top: 220px;
}

.features {
  padding: 24px 0;
  background: #ffffff;
  margin-bottom: 70px;
}
.features__inner {
  display: flex;
  justify-content: center;
}
.features__list {
  display: flex;
  gap: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.features__item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  max-width: 280px;
}
.features__icon {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.features__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.features__title {
  font-weight: 700;
  margin-top: 15px;
  text-align: left;
}
.features__text {
  color: #6b7280;
  font-size: 14px;
  text-align: left;
  margin: 0;
}

.support {
  padding: 80px 0;
  background-color: #161C2D;
  font-family: "Inter", sans-serif;
}
.support__inner {
  display: flex;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.support__left {
  flex: 1 1 500px;
}
.support__left .support__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #ffffff;
}
.support__left .support__subtitle {
  font-size: 14px;
  margin-bottom: 40px;
  color: rgb(209, 207, 207);
}
.support__left .info-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.support__left .info-list__item {
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
}
.support__left .info-list__item__icon {
  flex-shrink: 0;
}
.support__left .info-list__item__icon svg {
  width: 24px;
  height: 24px;
}
.support__left .info-list__item .info-list__content .info-list__title {
  color: white;
}
.support__left .info-list__item .info-list__content .info-list__text {
  color: rgb(209, 207, 207);
}
.support__faq {
  flex: 1 1 400px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  overflow: hidden;
}
.support__faq::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #68D585;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.support__faq .faq-main {
  display: flex;
  flex-direction: row;
}
.support__faq .faq-main__title {
  font-size: 22px;
  font-weight: 600;
  color: #161C2D;
  margin-bottom: 16px;
}
.support__faq .faq-main__text {
  font-size: 14px;
  color: #6B7280;
  margin-bottom: 16px;
}
.support__faq .faq-main__arrow {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.support__faq .faq-small {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.support__faq .faq-small__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-radius: 12px;
  background: #F9FAFB;
  cursor: pointer;
  transition: all 0.3s ease;
}
.support__faq .faq-small__item:hover {
  background: #E0F7FF;
}
.support__faq .faq-small__item span {
  color: #161C2D;
  font-size: 16px;
}
.support__faq .faq-small__item__icon svg {
  transition: transform 0.3s ease;
}
.support__faq .faq-small__item:hover .support__faq .faq-small__item__icon svg {
  transform: rotate(90deg);
}

.subscribe {
  padding: 96px 0;
  background: #ffffff;
}
.subscribe__inner {
  text-align: center;
  gap: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__desc {
  gap: 18px;
}
.subscribe__title {
  font-size: 45px;
  margin-bottom: 6px;
}
.subscribe__subtitle {
  color: #6b7280;
  margin-bottom: 16px;
  max-width: 400px;
  display: flex;
  justify-content: center;
}
.subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 410px;
}
.subscribe__input {
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid rgba(15, 17, 36, 0.06);
  min-width: 260px;
  max-width: 410px;
}
.subscribe__btn {
  padding: 12px 20px;
  max-width: 290px;
  width: 100%;
}
.subscribe__secret {
  max-width: 340px;
  color: #6b7280;
}

.footer {
  background: #ffffff;
  padding: 60px 0;
  font-family: "Inter", sans-serif;
  color: #161C2D;
}
.footer__inner {
  max-width: 1200px;
  margin: 0 auto;
}
.footer__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.footer__columns {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}
.footer__column {
  min-width: 140px;
}
.footer__column-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 14px;
  color: #6b7280;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__list .footer__item {
  margin-bottom: 10px;
}
.footer__list .footer__item a {
  color: #252526;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s;
}
.footer__list .footer__item a:hover {
  color: #473BF0;
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 30px;
}
.footer__social svg {
  opacity: 0.7;
  transition: 0.2s;
}
.footer__social svg:hover {
  opacity: 1;
}
.footer__copyright {
  text-align: center;
  font-size: 14px;
  color: #6b7280;
  margin-top: 20px;
};
