@import 'variables';
@import 'mixins';


.header-hero{
  height: 850px;
  position:relative;
  align-items: center;

  &__bg {
    background-image: url('../coworling.avif');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
     left:
      0; width: 100%; height: 100%;
    z-index: 0;

  &::before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
  }
}
.header, .hero {
    position: relative;
    z-index: 2;
  }
}

.header {
  padding: $sp-sm 0 ;
  background: transparent;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    font-weight: $font-weight;
    color: $white;
    font-size: $medium-font-size;
  }
  &__nav {
    display: flex;
    gap: 18px;
    align-items: center;
  }
  &__link {
    color:$white ;
    text-decoration: none;
    font-size: 14px;
    &:hover { color: $accent; }
  }
}

.button {
  padding: 10px 18px;
  border-radius: $radius;
  border: none;
  cursor: pointer;
  font-weight: $font-weight;
  &--primary {
    background: $accent;
    color: $white;
  }
  &--ghost {
    background: transparent;
    border: 1px solid rgba(15,17,36,0.06);
  }
}
.hero {
  padding:130px;
  color: $white;
  text-align: center;

  &__inner {
     max-width: 1200px;
     margin: 0 auto;
     align-items: center;
     min-width: 250px;
}

  &__kicker {
    color: $accent-2;
    font-weight:$font-weight;
    letter-spacing: 1px;
    margin-bottom: 12px;
    font-size: 13px;
  }
  &__title {
    font-size: 44px;
    line-height:$line-height;
    margin: 0 0 22px;
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
  }

  &__search {
    @include center;
    gap: 12px;
    margin-top: 18px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $white;
    padding: $sp-md;
    border-radius:$bigger-radius;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    margin: 18px auto 0 auto;
}

& .hero__field {
    display:flex;
    position: relative;
}

  &__input {
    width: 100%;
    min-width: 180px;
    height: 45px;
    border-radius: 12px;
    border: none;
    outline: none;
    box-shadow: 0 2px 5px $shadowColor;
    padding-left:$sp-lg;
    padding-right: 30px;
    cursor: pointer; 

    &::placeholder {
      color: #161C2D;
      opacity: 1;
      font-size: $base-font-size;
  }
}
.icon-location {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
  }

.icon-dropdown {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
& .hero__field--date {
    display:flex;
    position: relative;
}
&__input {
    width: 100%;
    min-width: 220px;
    height: 45px;
    border-radius: 12px;
    border: none;
    outline: none;
    box-shadow: 0 2px 5px $shadowColor;
    padding-left: $sp-lg;
    padding-right: 30px; 
}
.icon-calendar {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
  }

.icon-dropdown {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
&__btn{
    padding: 14px 28px;
    cursor: pointer;
    transition: all 0.3s ease;
    &.button--primary {
        &:hover {
        background-color: rgb(48, 15, 124);
  }
}
}
.icon-go-down {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 290px; 
}


  &__offer {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    gap: 40px;
    color: rgba(255,255,255,0.75);
    gap: 12px;

    & .hero__offer-text { font-size:13px; color: rgba(255,255,255,0.7); }
  }
.icon-video{
    display: flex;
    align-items: center;
}
}

.stats{
  padding: 100px;
  background: $white;
  color: $text;
  display: flex;
  justify-content: space-around;

  &__item {
    display: flex;
    text-align:center;
    flex-direction: column;
    &-num {
         font-weight:$font-weight;
         font-size: $large-font-size;
     }
    &-text {
         color:$muted; 
         font-size:$base-font-size;
         max-width: 180px;
         line-height: $line-height;
     }
  }
}
.locations {
  padding: $sp-xl 0;
  background: $white;
  display: flex;
  justify-content: center;

  &__title {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    padding: 30px;

  }

  &__subtitle {
    text-align: center;
    color: $muted;
    margin-bottom: 40px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 20px;
  }

  &__card {
    background: $white;
    border-radius: 12px;
    overflow: hidden;
  }
}

.card {
  &__img {
    display: block;
    width: 100%;
    max-width: 310px;
    height: 420px;
    border-radius: 10px;
    object-fit: cover;
  }

  &__img-wrapper {
    overflow: visible;
    display: flex;
    justify-content: center;
  }

  &__img--shadow {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  }

  &__body {
    padding: 12px;
    text-align: center;
    margin-top: 30px; 
  }

  &__title {
    font-weight: 700;
    margin: 4px 0;
  }

  &__meta {
    color: $muted;
    font-size: 13px;
  }
}

.team {
  padding: $sp-xl 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #ecf3f8;
    z-index: -1;
  }

  &__inner {
     display:flex;
     flex-direction: column;
     flex-wrap:wrap;
     position: relative;
 }
  &__text {
     flex:1; 
     max-width:300px;
     padding-left: 110px;

 }
  &__title {
     font-size:26px; 
     margin-bottom:10px; 
 }
  &__desc { 
    color:$muted;
 }

  &__images {
     display:flex;
     gap:46px;
     align-content:center;
     position: relative;
     padding-left: 70px;
 }
  &__img {
     display:block; 
     object-fit: cover;
     width:420px;
     height:460px;
     border-radius: 15px;
     position: relative;
         top: -120px;
         left: 40px;
         margin-top: 0;
     &--large {
         width:420px;
         margin-top: 220px;
        } 
 }
}
.features {
  padding: $sp-md 0;
  background: $white;
  margin-bottom: 70px;

  &__inner {
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
    gap: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 280px;
  }

  &__icon {
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font-weight: 700;
    margin-top:15px;
    text-align: left;
  }

  &__text {
    color: $muted;
    font-size: $small-font-size;
    text-align: left;
    margin: 0;
  }
}


.support {
  padding: 80px 0;
  background-color:#161C2D;
  font-family: 'Inter', sans-serif;

  &__inner {
    display: flex;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  &__left {
    flex: 1 1 500px;

    .support__title {
      font-size: 32px;
      font-weight: $font-weight;
      margin-bottom: 16px;
      color:$white;
    }

    .support__subtitle {
      font-size: $small-font-size;
      margin-bottom: 40px;
      color: rgb(209, 207, 207);
    }

    .info-list {
      list-style: none;
      padding: 0;
      margin: 0;

      &__item {
        display: flex;
        gap: 20px;
        margin-bottom: 24px;

        &__icon {
          flex-shrink: 0;
          svg {
            width: 24px;
            height: 24px;
          }
        }

        .info-list__content {
            .info-list__title {
                 color: white;
            }
            
            .info-list__text {
                color: rgb(209, 207, 207);
            }
        }
      }
    }
  }

  &__faq {
    flex: 1 1 400px;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 12px 24px rgba(0,0,0,0.08);
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    overflow: hidden;
    
    &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 4px; 
    background-color: #68D585;
    border-top-left-radius: 16px; 
    border-top-right-radius: 16px;
  }

    .faq-main {
        display: flex;
        flex-direction: row;
      &__title {
        font-size: 22px;
        font-weight: 600;
        color: #161C2D;
        margin-bottom: 16px;
      }

      &__text {
        font-size: $small-font-size;
        color: #6B7280;
        margin-bottom: 16px;
      }

      &__arrow {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }

    .faq-small {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 16px;

      &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        border-radius: 12px;
        background: #F9FAFB;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background: #E0F7FF;
        }

        span {
          color: #161C2D;
          font-size: 16px;
        }

        &__icon svg {
          transition: transform 0.3s ease;
        }

        &:hover &__icon svg {
          transform: rotate(90deg);
        }
      }
    }
  }
}

.subscribe {
  padding: $sp-xxl 0;
  background: $white;
  &__inner { 
    text-align:center;
    gap: 35px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
  &__desc{
    gap:18px;
  }

  &__title { 
    font-size:45px; 
    margin-bottom:6px; 
}
  &__subtitle { 
    color:$muted; 
    margin-bottom:16px; 
    max-width: 400px;
    display: flex;
    justify-content: center;
}
  &__form { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: 410px;
}
  &__input { 
    padding:12px 14px; 
    border-radius:10px; 
    border:1px solid rgba(15,17,36,0.06);
     min-width:260px; 
     max-width: 410px;
    }
  &__btn { 
    padding:12px 20px; 
    max-width: 290px;
    width:100%;
}
  &__secret{
    max-width: 340px;
    color:$muted;
  }
}
.footer {
  background: #ffffff;
  padding: 60px 0;
  font-family: 'Inter', sans-serif;
  color: #161C2D;

  &__inner {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }

  &__columns {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
  }

  &__column {
    min-width: 140px;
  }

  &__column-title {
    font-size: $base-font-size;
    font-weight: 600;
    margin-bottom: 14px;
    color: $muted;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    .footer__item {
      margin-bottom: 10px;

      a {
        color: #252526;
        text-decoration: none;
        font-size: $base-font-size;
        transition: 0.2s;

        &:hover {
          color: #473BF0;
        }
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 30px;
  }

  &__social svg {
    opacity: 0.7;
    transition: 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  &__copyright {
    text-align: center;
    font-size: $small-font-size;
    color: $muted;
    margin-top: 20px;
  }
}