@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400&family=Space+Mono:wght@400;700&display=swap');

$font-primary: 'Lexend Deca', sans-serif;
$font-secondary: 'Space Mono', monospace; 

